*{
    box-sizing: border-box;
}
body{
    color: white;
    margin: 0;
    background-color: black;
    font-family: Arial;
}

.header{
    text-align: center;
    padding: 32px;
}

.row{
    padding: 0 4px;
    display: flex;
    flex-wrap: wrap;
}

/* create four equal column that sit next to each other */
.column{
    /* -ms-flex: 25%; IE10 */
    flex: 25%;
     max-width: 25% ;
     padding: 0 4px;
}

.column img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    opacity: 0.9;
    filter: grayscale(100%);
}

.column img:hover{
opacity: 1.0;
filter: grayscale(0);
}

/*responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width:800px) {
    .column{
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* responsive layout- makes the two column stack on top of each other instead of */
@media screen and (max-width: 600px) {
    .column{
        flex: 100%;
        max-width: 100%;
    }
}

